@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Golos Text", sans-serif;
    background-image: url('back.png');
    background-repeat: no-repeat;   
    background-size: cover;         
    background-position: center;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .header, .footer {
        width: 100%;
    }
    .h31, .h32 {
        font-size: 16px; /* Adjust sizes on smaller screens */
    }
}
main {
    padding: 20px 0;
    flex-grow: 1;
  }
  
.header {
    top: 5px;
    color: #462424;
    height: 77px;
    flex-shrink: 0;
    width: 100%;
}

.container {
    max-width: 1200px;      
    padding: 0 20px;    
  }
 

.h31 {
    top: 8px;
    right: 150px;
    color: #FFF;
    font-family: "Golos Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 43px;
}

.h32 {
    top: 8px;
    right: 250px;
    color: #FFF;
    font-family: "Golos Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 162px;
}

.h33 {
    position: relative;
    left: 80px;
    color: #FFF;
    font-family: "Golos Text";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 146px;
    margin: 22px;
}

.svg1 {
    top: 19px;
    left: 30px;
    width: 49px;
    height: 49px;
    flex-shrink: 0;
}

.svg2 {
    top: 27px;
    right: 50px;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}

.h11 {
    color: #FFF;
    font-family: "Golos Text";
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.h21 {
    color: #FFF;
    font-family: "Golos Text";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.fsvg1 {
    right: 125px;
    width: 31px;
    height: 31px;
    flex-shrink: 0;
    color: #FFF;
}
.fsvg2 {
    right: 80px;
    width: 31px;
    height: 31px;
    flex-shrink: 0;
    color: #FFF;
}
.fsvg3 {
    right: 35px;
    width: 31px;
    height: 31px;
    flex-shrink: 0;
    color: #FFF;
}

.h31, .h32, .svg1, .svg2 {
    position: absolute;
}

  footer {
    width: 100%;
    display: flex;
    padding: 10px 0px 10px 0px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 50px;  
    background: rgba(0, 0, 0, 0.50);
    margin-top: auto;
    position: fixed;
    bottom: 0;
    
}